<html>
    <head>
        <title>Boerqa Web Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Boerqa Web Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Stadig maar seker</a></h2>
            <p>Dinge moet bygelas word, 'n sensor, 'n tabel, 'n grafiek...</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Tweede Gedagtes</a></h2>
            <p>Op tweede gedagte, dinge moet nog eers mooi geskryf word. Geskryf in tale wat ons nog nie so goed ken nie. So ja, dit gaan stadig maar dit gaan virseeker. Lekker dag.</p>
        </div>
    </body>
</html>
